.Playlist {
    width: 50%;
    justify-content: center;
}

.input {
    width: 10rem;
    margin-top: 2rem;
    height: 3rem;
    color: gray;
}

.save-button {
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
    margin: 3rem;
}